{% extends "layouts/base.html" %}

{% block contenido %}
<main>
    <section>
        Pagina de Agregar Productos
    </section>
    <section>
        <h2>Formulario creacion de productos</h2>
        <div class="row justify-content-center">
            <div class="col-12 col-sm-6 col-lg-5">
                <form action="" method="post">
                    {% csrf_token %}
                    {{form}}
                    <div>
                        <input type="submit" value="crear" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
        
    </section>
</main>
{% endblock contenido %}
